* {
  padding: 0;
  margin: 0;
}
.dimension {
  display: flex;
  flex-direction: column;
}

#rows {
  height: 1rem;
}

#columns {
  height: 1rem;
}

.input-values {
  width: 3rem;
  border: none;
}

button {
  margin: 1rem;
  margin-left: 0;
}

body {
  background-color: #b8d5b8;
  color: #dc602e;
}

.title {
  width: 100vw;
}

h1 {
  justify-self: center;
  padding: 1rem;
}

#input {
  margin-left: 1rem;
}

.dimension input[type="number"] {
  background-color: #e3f6ec;
  border: 3px solid #8bb9a0;
}

input[type="number"] {
  border: none;
  width: 4rem;
}
.dimension input[type="number"]:focus {
  background-color: #e3f6ec;
  border: 3px solid #8bb9a0;
  outline: none;
}

.row-input {
  display: flex;
  margin-bottom: 1rem;
  gap: 2rem;
}

.col-input {
  display: flex;
  gap: 9px;
}
